<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Framework Test Suite">
    
    <!-- ReportNG Listeners -->
	<!-- always need config listener to have html reports, if not config ReportNG’s HTML reports (and screenshots integration) will not be generated because TestNG never invokes ReportNG’s listeners.-->
	<!-- two ways to view report: using ReportNGListener or extendReport(CustomListeners), select 1 or 2 option	-->
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        <listener class-name="com.w2a.listeners.ReportNGListener" />
        <listener class-name="com.w2a.listeners.CustomListeners" />
    </listeners>
    
	<test name="Bank Manager Login Test">
		<classes>
			<class name="com.w2a.testcases.LoginTest" />
		</classes>
	</test> <!-- Test -->
	
	<test name="Add Customer Test">
		<classes>
			<class name="com.w2a.testcases.AddCustomerTest" />
		</classes>
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
